main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  
  .posts-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  .post-card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #ddd;
  }
  
  .post-card h3 a {
    text-decoration: none;
    color: #1a2a3a;
  }
  
  .meta {
    font-size: 0.85rem;
    color: #777;
    margin: 0.4rem 0;
  }
  
  .read {
    color: #0077cc;
    font-weight: bold;
    text-decoration: none;
  }
  
  .post-page {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #ddd;
  }
  
  .code {
    background: #eee;
    padding: 1rem;
    display: block;
    margin: 1rem 0;
  }
  
  .post-nav {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  nav a {
    margin-left: 1rem;
    text-decoration: none;
    color: #cfe7f5;
    font-size: 0.95rem;
  }
  footer{
    text-align: center;
  }