*{
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
    background-color: #1a2a3a;
    &-title{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        color: #7dd3fc;
        margin: 20px;
    }
    &-nav{
        margin: 20px;
        align-content: center;
        justify-content: flex-end;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        width: 50%;
        column-gap: 2rem;
    }
    a{
        color: #cfe7f5;
        text-decoration: none;
    }
}